<header>
    <div><a routerLink=""><img src="{{headerLogoSrc}}"/></a></div>
    <nav class="header-menu">
        <ul>
            <li class="wide-screen">
                <a routerLink="">Home</a>
            </li>
            <li class="wide-screen">
                <a routerLink="/services" routerLinkActive="active">Services</a>
            </li>
            <li class="wide-screen">
                <a routerLink="/clients" routerLinkActive="active">Clients</a>
            </li>
            <li class="wide-screen">
                <a routerLink="/contacts" routerLinkActive="active">Contacts</a>
            </li>
            <li class="wide-screen">
                <a href="https://aortasystems.atlassian.net/" target="_blank">Login</a>
            </li>

            <li class="mobile-screen">
                <button mat-icon-button (click)="toggleMenu($event)">
                    <mat-icon>menu</mat-icon>
                </button>
            </li>
        </ul>
    </nav>
</header>
<nav *ngIf="showMenu === true" class="mobile-menu" #menu>
    <ul>
        <li class="mobile-item">
            <a routerLink="">Home</a>
        </li>
        <li class="mobile-item">
            <a routerLink="/services" routerLinkActive="active">Services</a>
        </li>
        <li class="mobile-item">
            <a routerLink="/clients" routerLinkActive="active">Clients</a>
        </li>
        <li class="mobile-item">
            <a routerLink="/contacts" routerLinkActive="active">Contacts</a>
        </li>
        <li class="mobile-item">
            <a href="https://aortasystems.atlassian.net/" target="_blank">Login</a>
        </li>
    </ul>
</nav>