<header>
    <div><a routerLink=""><img src="{{headerLogoSrc}}"/></a></div>
    <nav class="header-menu">
        <ul>
            <li>
                <a routerLink="">Home</a>
            </li>
            <li>
                <a routerLink="/solutions" routerLinkActive="active">Solutions</a>
            </li>
            <li>
                <a routerLink="/clients" routerLinkActive="active">Clients</a>
            </li>
            <li>
                <a routerLink="/contacts" routerLinkActive="active">Contacts</a>
            </li>
            <!-- <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a> -->
        </ul>
    </nav>
</header>
