<header>
    <div><a routerLink=""><img src="{{headerLogoSrc}}"/></a></div>
    <nav class="header-menu">
        <ul>
            <li>
                <a routerLink="">Home</a>
            </li>
            <li>
                <a routerLink="/services" routerLinkActive="active">Services</a>
            </li>
            <li>
                <a routerLink="/clients" routerLinkActive="active">Clients</a>
            </li>
            <li>
                <a routerLink="/contacts" routerLinkActive="active">Contacts</a>
            </li>
            <li>
                <a href="https://aortasystems.atlassian.net/" target="_blank">Login</a>
            </li>
        </ul>
    </nav>
</header>