<section>
    <div class="blue-card">
        <div class="small-header-text">Office Address</div>
        <div>Address: 29 Berwick Rd, Hewlett, NY 11557, United States</div>      
        
        <div class="small-header-text">Email Address</div>
        <div>info@aortasystems.com</div>

        <div class="small-header-text">Phone Numbers</div>
        <div>+1(855) 327-0001</div>
    </div>
    
    <div class="card">
        <div>CONTACT US</div>
        <div>
          We are always open to any of your questions. 
          If you want to contact us, fill out the form below, please. 
          We will put your question under immediate review and get back to you as soon as possible.
        </div>
        <div>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Your Name</mat-label>
              <input matInput placeholder="">
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Email address</mat-label>
              <input matInput placeholder="">
              <mat-icon matSuffix>email</mat-icon>
              <mat-hint>We'll never share your email with anyone else.</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="legacy">
              <mat-label >Your message</mat-label>
              <textarea matInput placeholder="Enter message" rows="7"></textarea>
            </mat-form-field>
          </p>
          <p>
            <button mat-button>sdadasdasds</button>
          </p>
        </div>

       
    </div>
</section>
