:host {
    display: flex;
    flex-flow: column;
}
.content {
    padding: 2em;
    max-width: 1170px;
    width: 100%;
    align-self: center;
}
.contact-page-header {
    position: relative;
    background-image: url('/assets/images/solutionsHeader.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    height: 500px;
}
.header-section {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
    width: 35%;
    min-width: 450px;
    left: 2em;
}
.header-text {
    font-weight: 500;
    font-size: 2.8em;
    line-height: 2em;
    color: white;
    background: linear-gradient(
       to right, 
       hsl(0, 90%, 100%) 0%,
       hsl(0, 0%,  35%) 10%,
       hsl(0, 90%, 100%) 20%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 4s infinite linear;
}
.under-header-text {
    font-size: 1.2rem;
    line-height: 2em;
    font-weight: 300;
}
@keyframes shine {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 10em;
    }
} 