<section class="service-page-header">
    <app-header></app-header>


        <div class="header-text" style="  
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);">
            OUR SERVICES
         </div>


    <div class="list-of-services" style="padding-left: 2em; position: absolute; bottom: 2em; font-size: 1.6em;  line-height: 1.5em; font-weight: 300; color: rgb(230, 230, 230);">
        <div class="header-service" (click)="moveToService('service1')">- Salesforce consulting services</div>
        <div class="header-service" (click)="moveToService('service2')">- Salesforce technical implementation</div>
        <div class="header-service" (click)="moveToService('service3')">- Salesforce custom development</div>
        <div class="header-service" (click)="moveToService('service4')">- Salesforce integrations</div>
        <div class="header-service" (click)="moveToService('service5')">- Salesforce automation & enhancements</div>
        <div class="header-service" (click)="moveToService('service6')">- AppExchange product development</div>
        <div class="header-service" (click)="moveToService('service7')">- Mobile App Development</div>
        <div class="header-service" (click)="moveToService('service8')">- Web Development</div>
    </div>


<!-- 
    <div class="header-section">
        <div class="header-text header-text-animation">
            OUR SERVICES
         </div>
    </div> -->
  </section>
  

  <section class="content">
      <div id="service1" class="service-card-container">
            <div class="service-card">
            <div class="service-logo slideright"><img src="assets/images/servicepage/consultant.jpg"></div>
                <div class="service-body slideleft">
                    <div class="service-header"
                        observeVisibility
                        [debounceTime]="200"
                        (visible)="onVisible($event)"
                        (invisible)="onInVisible($event)">Salesforce consulting services</div>
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum orci a sapien imperdiet maximus.
                        Suspendisse vel ex eget mauris efficitur finibus eu a enim. Aenean tellus neque, consectetur sit amet lacus a,
                        hendrerit ornare urna. Fusce venenatis lorem vitae augue suscipit, eu tempor massa vulputate. 
                        Praesent iaculis velit libero, vel faucibus sem pulvinar vel. Curabitur viverra nisl dui, a venenatis 
                        felis pellentesque id. Donec non lacus diam.
                    </div>
                </div>
            </div>
      </div>

    <div id="service2" class="service-card-container">
        <div class="service-card">
            <div class="service-logo slideright"><img src="assets/images/servicepage/service1.jpg"></div>
            <div class="service-body slideleft">
                <div class="service-header"
                    observeVisibility
                    [debounceTime]="200"
                    (visible)="onVisible($event)"
                    (invisible)="onInVisible($event)">Salesforce technical implementation</div>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum orci a sapien imperdiet maximus.
                    Suspendisse vel ex eget mauris efficitur finibus eu a enim. Aenean tellus neque, consectetur sit amet lacus a,
                    hendrerit ornare urna. Fusce venenatis lorem vitae augue suscipit, eu tempor massa vulputate. 
                    Praesent iaculis velit libero, vel faucibus sem pulvinar vel. Curabitur viverra nisl dui, a venenatis 
                    felis pellentesque id. Donec non lacus diam.
                </div>
            </div>
        </div>
    </div>

    <div id="service3" class="service-card-container">
        <div class="service-card">
            <div class="service-logo slideright"><img src="assets/images/servicepage/development.jpg"></div>
            <div class="service-body slideleft">
                <div class="service-header"
                    observeVisibility
                    [debounceTime]="200"
                    (visible)="onVisible($event)"
                    (invisible)="onInVisible($event)" >Salesforce custom development</div>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum orci a sapien imperdiet maximus.
                    Suspendisse vel ex eget mauris efficitur finibus eu a enim. Aenean tellus neque, consectetur sit amet lacus a,
                    hendrerit ornare urna. Fusce venenatis lorem vitae augue suscipit, eu tempor massa vulputate. 
                    Praesent iaculis velit libero, vel faucibus sem pulvinar vel. Curabitur viverra nisl dui, a venenatis 
                    felis pellentesque id. Donec non lacus diam.
                </div>
            </div>
        </div>
    </div>

    <div id="service4" class="service-card-container">   
        <div class="service-card">
            <div class="service-logo slideright"><img src="assets/images/servicepage/integrations.jpg"></div>
            <div class="service-body slideleft">
                <div class="service-header" 
                    observeVisibility
                    [debounceTime]="200"
                    (visible)="onVisible($event)"
                    (invisible)="onInVisible($event)">Salesforce integrations</div>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum orci a sapien imperdiet maximus.
                    Suspendisse vel ex eget mauris efficitur finibus eu a enim. Aenean tellus neque, consectetur sit amet lacus a,
                    hendrerit ornare urna. Fusce venenatis lorem vitae augue suscipit, eu tempor massa vulputate. 
                    Praesent iaculis velit libero, vel faucibus sem pulvinar vel. Curabitur viverra nisl dui, a venenatis 
                    felis pellentesque id. Donec non lacus diam.
                </div>
            </div>
        </div>
    </div>

    <div id="service5" class="service-card-container">  
        <div class="service-card">
            <div class="service-logo slideright"><img src="assets/images/servicepage/automation.jpg"></div>
            <div class="service-body slideleft">
                <div class="service-header" 
                    observeVisibility
                    [debounceTime]="200"
                    (visible)="onVisible($event)"
                    (invisible)="onInVisible($event)">Salesforce automation & enhancements</div>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum orci a sapien imperdiet maximus.
                    Suspendisse vel ex eget mauris efficitur finibus eu a enim. Aenean tellus neque, consectetur sit amet lacus a,
                    hendrerit ornare urna. Fusce venenatis lorem vitae augue suscipit, eu tempor massa vulputate. 
                    Praesent iaculis velit libero, vel faucibus sem pulvinar vel. Curabitur viverra nisl dui, a venenatis 
                    felis pellentesque id. Donec non lacus diam.
                </div>
            </div>
        </div>
    </div>

    <div  id="service6" class="service-card-container">  
        <div class="service-card">
            <div class="service-logo slideright"><img src="assets/images/servicepage/productdevelopment.png"></div>
            <div class="service-body slideleft">
                <div class="service-header"
                    observeVisibility
                    [debounceTime]="200"
                    (visible)="onVisible($event)"
                    (invisible)="onInVisible($event)">AppExchange product development</div>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum orci a sapien imperdiet maximus.
                    Suspendisse vel ex eget mauris efficitur finibus eu a enim. Aenean tellus neque, consectetur sit amet lacus a,
                    hendrerit ornare urna. Fusce venenatis lorem vitae augue suscipit, eu tempor massa vulputate. 
                    Praesent iaculis velit libero, vel faucibus sem pulvinar vel. Curabitur viverra nisl dui, a venenatis 
                    felis pellentesque id. Donec non lacus diam.
                </div>
            </div>
        </div>
    </div>

    <div id="service7" class="service-card-container"> 
        <div class="service-card">
            <div class="service-logo slideright"><img src="assets/images/servicepage/mobile.jpg"></div>
            <div class="service-body slideleft">
                <div class="service-header" 
                    observeVisibility
                    [debounceTime]="200"
                    (visible)="onVisible($event)"
                    (invisible)="onInVisible($event)">Mobile App Development</div>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum orci a sapien imperdiet maximus.
                    Suspendisse vel ex eget mauris efficitur finibus eu a enim. Aenean tellus neque, consectetur sit amet lacus a,
                    hendrerit ornare urna. Fusce venenatis lorem vitae augue suscipit, eu tempor massa vulputate. 
                    Praesent iaculis velit libero, vel faucibus sem pulvinar vel. Curabitur viverra nisl dui, a venenatis 
                    felis pellentesque id. Donec non lacus diam.
                </div>
            </div>
        </div>
    </div>

    <div id="service8" class="service-card-container"> 
        <div class="service-card">
            <div class="service-logo slideright"><img src="assets/images/servicepage/webdevelopment.jpg"></div>
            <div class="service-body slideleft">
                <div class="service-header" 
                    observeVisibility
                    [debounceTime]="200"
                    (visible)="onVisible($event)"
                    (invisible)="onInVisible($event)">Web Development</div>
                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum orci a sapien imperdiet maximus.
                    Suspendisse vel ex eget mauris efficitur finibus eu a enim. Aenean tellus neque, consectetur sit amet lacus a,
                    hendrerit ornare urna. Fusce venenatis lorem vitae augue suscipit, eu tempor massa vulputate. 
                    Praesent iaculis velit libero, vel faucibus sem pulvinar vel. Curabitur viverra nisl dui, a venenatis 
                    felis pellentesque id. Donec non lacus diam.
                </div>
            </div>
        </div>
    </div>
  </section>