<section class="contact-page-header">
    <app-header></app-header>
    <div class="header-section">
        <div class="header-text header-text-animation">
          Services
        </div>
        <div class="under-header-text text-animation">
          <!-- Hey! we are looking forward to start project with you -->
        </div>
        <!-- <div class="under-header-text text-animation"
             observeVisibility
             [debounceTime]="300"
             (visible)="onVisible($event)"
             (invisible)="onInVisible($event)">
            <span>Something about our clients.... </span>
            <span>Example: Design on Edge represent </span>
            <span>a wide range o</span>
            <span>f indusctries includeng </span>
            <span>hospitality, property nama</span>
            <span>gement, companies, sta</span>
        </div> -->
    </div>
  </section>
  
  
  <section class="content">
    1.Salesforce consulting services  
  </section>

  <section class="content">
    2.Salesforce technical implementation    
  </section>


  <section class="content">
    3.Salesforce custom development 
  </section>


  <section class="content">
    4.Salesforce integrations  
  </section>


  <section class="content">
    5.Salesforce automation & enhancements  
  </section>


  <section class="content">
    6.AppExchange product development  
  </section>