:host {
    display: flex;
    flex-flow: column;
}
.service-page-header {
    position: relative;
    background-image: url('/assets/images/servicepage/header.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    height: 500px;
}
.service-page-header-content {
    position: absolute; 
    color: #dbdbdb;
    max-width: 100vw;
    width: 100vw;
    height: 430px;
    max-height: 430px;
    display: grid; 
    grid-template-columns: minmax(350px, 1fr) 1fr 1fr;
    justify-items: center;
}
.list-of-services {
    overflow: hidden;
    justify-self: left;
    align-self: flex-end;
    padding-bottom: 2em;
}
.header-text {
    line-height: 1.2em;
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: .1rem;
}
.header-text-animation {
    align-self: center;
    background: linear-gradient(
       to right, 
       hsl(0, 90%, 100%) 0%,
       hsl(0, 0%,  35%) 10%,
       hsl(0, 90%, 100%) 20%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 8s infinite linear;
}
.header-text-medium {
    font-size: 1.2rem;
    line-height: 2em;
    font-weight: 300;
}
.header-service {
    padding: 0px 0px 0px 2em ;
    opacity: 0;
    cursor: pointer;
}
.header-service:hover {
    transform: scaleX(1.02);
    font-weight: 400;
}

.content {
    max-width: 1170px;
    width: 100vw;
    align-self: center;
    padding: 1em 0px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.highlight-service-card {
    background-color: #f6f6f6;
    transform: scaleX(1.05);
    box-shadow: rgba(99, 99, 99, 0.2) 2px 7px 15px 0px;
}

.service-card-container {
    padding: 2em;
}
.service-card-container:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.service-card {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 3em auto;
    grid-template-areas:
    'img header'
    'img content';
    grid-column-gap: 3em;
    /* grid-column-gap: 3em; */
}
.service-header {
    grid-area: header;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.2em;
    /* padding-bottom: 0.5em; */
}
.service-body-text {
    grid-area: content;
    text-align: justify;
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.35em;
}
.service-logo {
    grid-area: img;
    align-self: center;
    justify-self: center;
}
.service-logo img {
    height: 200px;
    width: 200px;
    object-fit:cover;
}





@media screen and (max-width: 519px) {
    .header-text {
        font-size: 1.8rem;
    }
    .header-text-medium {
        font-size: 1.1rem;
    }
    .header-text-animation {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .service-page-header-content {
        grid-template-columns: 1fr;
    }
    .list-of-services {
        /* min-width: 355px; */
    }
    .service-card {
        grid-template-areas:
        'header header'
        'img content';
        grid-template-columns: 90px 1fr;
        grid-template-rows: 2em auto;
        grid-column-gap: 1em;
        grid-row-gap: 0.5em;
        /* gap: 1em; */
    }
    .service-header {
        text-align: left;
        font-size: 1.2rem;
    }
    .service-body-text {
        font-size: 0.925rem;
        word-spacing:-2px;
    }
    .service-logo img {
        height: 90px;
        width: 90px;
    }
    .service-card-container {
        padding: 0px 15px;
    }
  }
  
  @media screen and (max-width: 767px) and (min-width: 520px) {
    .header-text {
      font-size: 2.2rem;
    }
    .header-text-medium {
      font-size: 1.2rem;
    }
    .header-text-animation {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .service-page-header-content {
        grid-template-columns: 1fr;
    }
    .list-of-services {
        justify-self: center;
        min-width: 355px;
    }
    .service-card {
        grid-template-columns: 150px 1fr;
        gap: 1em;
    }
    .service-header {
        font-size: 1.5rem;
    }
    .service-body-text {
        font-size: 1.1rem;
    }
    .service-logo img {
        height: 150px;
        width: 150px;
    }
  }
  
  @media screen and (max-width: 1024px) and (min-width: 768px) {
    .header-text {
      font-size: 2.5rem;
    }
    .header-text-medium {
        font-size: 1.1rem;
    }

}

.list-of-services div:nth-child(1) {
    animation: slideright 0.6s 0.3s forwards;
}
.list-of-services div:nth-child(2) {
    animation: slideright 0.6s 0.4s forwards;
}
.list-of-services div:nth-child(3) {
    animation: slideright 0.6s 0.5s forwards;
}
.list-of-services div:nth-child(4) {
    animation: slideright 0.6s 0.6s forwards;
}
.list-of-services div:nth-child(5) {
    animation: slideright 0.6s 0.7s forwards;
}
.list-of-services div:nth-child(6) {
    animation: slideright 0.6s 0.8s forwards;
}
.list-of-services div:nth-child(7) {
    animation: slideright 0.6s 0.9s forwards;
}
.list-of-services div:nth-child(8) {
    animation: slideright 0.8s 1.0s forwards;
}

@keyframes shine {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 10em;
    }
} 

.slideleft {
    opacity: 0;
    animation: fade-out-left .3s ease forwards;
}
.active .slideleft, .slideleft.active {
    animation: slideleft .3s ease forwards;
}
.slideright {
    opacity: 0;
    animation: fade-out-right .3s ease forwards;
}
.active .slideright, .slideright.active {
    animation: slideright .3s ease forwards;
}
  
@keyframes fade-out-right {
    0% {
       opacity:1;
       transform: translateX(0px);
    }
    99% {
      opacity:0;
      transform: translateX(-100px);
   }
    100% {
       opacity:0;
       transform: translateX(0px);
    }
  } 

@keyframes fade-out-left {
    0% {
       opacity:1;
       transform: translateX(0px);
    }
    99% {
      opacity:0;
      transform: translateX(100px);
    }
    100% {
       opacity:0;
       transform: translateX(0px);
    }
} 
  
@keyframes slideright {
    0% {
      opacity:0;
      transform: translateX(0px);
    }
    1% {
       opacity:0;
       transform: translateX(-50px);
    }
    100% {
       opacity:1;
       transform: translateX(0);
    }
} 
@keyframes slideleft {
    0% {
      opacity:0;
      transform: translateX(0px);
    }
    1% {
       opacity:0;
       transform: translateX(100px);
    }
    100% {
       opacity:1;
       transform: translateX(0);
    }
  }