.content {
    padding: 2em;
}

.header-section {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 2rem;
}

.text-slide {
    opacity: 0;
    animation: slidetop 0.8s ease-out forwards;
}

  @keyframes slidetop {
    0% {
       opacity:0;
       transform: translateY(-300%);
    }
    70% {
      opacity:0;
      transform: translateY(-150%);
   }
    100% {
       opacity:1;
       transform: translateY(0);
    }
  } 

  img.client-logo {
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    opacity: 1;
    height: 160px;
    width: 160px;
    object-fit:  contain;
    filter: blur(4px);
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }

  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }