<section class="client-page-header">
    <app-header></app-header>
    <div class="header-section">
        <div class="header-text header-text-animation"
             observeVisibility
             [debounceTime]="300"
             (visible)="onVisible($event)"
             (invisible)="onInVisible($event)">
            Our Clients and Partners
        </div>
        <div class="under-header-text text-animation"
             observeVisibility
             [debounceTime]="300"
             (visible)="onVisible($event)"
             (invisible)="onInVisible($event)">
            <span>Something about our clients.... </span>
            <span>Example: Design on Edge represent </span>
            <span>a wide range o</span>
            <span>f indusctries includeng </span>
            <span>hospitality, property nama</span>
            <span>gement, companies, sta</span>
            <span>te, sustainabili</span>
            <span>ty programs, restau</span>
            <span>rants, business to busi</span>
            <span>ness to business and lo</span>
            <span>cal non-profit organ</span>
            <span>izations.</span>
            <!-- Design on Edge represent a wide range of indusctries includeng hospitality, 
                property namagement, companies, state, sustainability programs, restaurants, business to business and local non-profit organizations. -->
        </div>
    </div>
</section>

<section class="content">
    <div class="container">
        <div *ngFor="let client of clients" class="client-logo" >
            <div class="mono-logo">
                <a [href]="client.url">
                    <img [src]="client.srcMono" 
                         [style.animation]="client.animation">
                </a>
            </div>
            <div class="overlay">
                <a [href]="client.url">
                    <img [src]="client.src" 
                         [style.animation]="client.animation">
                </a>
            </div>
        </div>
    </div>
</section>
