<section class="welcome-screen">
    <app-header></app-header>
    <div>
        <div class="header-welcome-content">
            <div class="header-welcome-text-section text-animation" observeVisibility [debounceTime]=200 (visible)="onVisible($event)" (invisible)="onInVisible($event)">
                <div class="header-text text-align-middle">
                    <span>All-</span>
                    <span>inc</span>
                    <span>lu</span>
                    <span>si</span>
                    <span>ve&nbsp;</span>
                    <span>Sales</span>
                    <span>force&nbsp;</span>
                    <span>services</span>
                </div>
                <div class="content-text text-align-middle">
                    <span>Salesforce &nbsp;</span>
                    <span>Trusted&nbsp;</span>
                    <span>Experts,&nbsp;</span>
                    <span>Implementation&nbsp;</span>
                    <span>&&nbsp;</span>
                    <span>Consulting&nbsp;</span>
                    <span>Partners</span>   
                </div>  
            </div>
        </div>

        <div class="contact-us-btn">
            <button mat-button (click)="handleClickContactUsBtn()"  class="btn slideright" observeVisibility [debounceTime]=200 (visible)="onVisible($event)" (invisible)="onInVisible($event)">
                CONTACT US
            </button>
        </div>
    </div>
</section>

<section class="about-company-section content-text">   
    <div class="about-header slideleft text-align-middle header-text" style="grid-area: header;"
         observeVisibility [debounceTime]=200 (visible)="onVisible($event)"(invisible)="onInVisible($event)">
         ABOUT COMPANY
    </div>
        <div class="content slideright" style="grid-area: content;"
            observeVisibility [debounceTime]=200 [threshold]=0.7 (visible)="onVisible($event)" (invisible)="onInVisible($event)">
            Aorta Systems offers a full range of end-to-end Salesforce solutions, product 
            development and various Salesforce consulting services from implementation, 
            customization and administration to automation, development, enhancements and 
            integrations. We have a very highly skilled and experienced team – certified 
            Salesforce.com consultants, developers, administrators, QA experts, project managers 
            & business analysts, all of whom are constantly supported by our Salesforce Architects. 
        </div>
        <div class="content2 slideright" style="grid-area: content2;"
            observeVisibility  [debounceTime]=200 [threshold]=0.7 (visible)="onVisible($event)" (invisible)="onInVisible($event)">
            Aorta Systems was launched in 2013. Headquartered in New York, the company’s 
            development and PMBA centers are also located in San Francisco, Utah, Toronto, and 
            across Eastern Europe. The unique combination of the company’s multi-year CRM 
            engineering experience in conjunction with solid SaaS operations and management 
            skills enables innovation and a wealth of ideas that helps make our clients more 
            effective and productive. At Aorta Systems, the most valuable asset we have is the 
            relationship we hold within our team and customers.  
        </div>


    <div class="info1 slidetop" style="grid-area: info1;"
        observeVisibility [debounceTime]=200 [threshold]=0.9 (visible)="onVisible($event)"  (invisible)="onInVisible($event)">
        <p class="text-align-middle"><img style="max-width: 100%;" src="assets/images/homepage/salesforce.svg"></p>
        <p class="text-align-middle">Salesforce ISV Partner</p>
    </div>

    <div class="info2 slidetop" style="grid-area: info2;"
        observeVisibility [debounceTime]=250 [threshold]=0.9 (visible)="onVisible($event)"  (invisible)="onInVisible($event)">
        <p class="text-align-middle"><img style="max-width: 100%; max-height: 100%;" src="assets/images/homepage/salesforce.svg"></p>
        <p class="text-align-middle">Cloud Alliance Partner</p>
    </div>

    <div class="info1" style="grid-area: info3; justify-self: center;">
        <div class="slidetop" style=" display: flex; flex-direction: column; justify-content: space-between;" 
            observeVisibility [debounceTime]=300 (visible)="onVisible($event)" (invisible)="onInVisible($event)">
            <p>100+ Team Members</p>
            <p>50+ Worldwide Customers</p>
            <p>25+ Salesforce Certifications</p>
        </div>
    </div>

    <div class="about-company-picture"></div>
</section>


<section class="" 
         style="
             background-color: rgb(87, 87, 87);
             color: #f6f6f6; 
             position: relative;
             height: 350px;
             display: flex;
             justify-content: center;
             align-items: center">
    <div class="slidetop header-text" observeVisibility [debounceTime]=200 (visible)="onVisible($event)"    (invisible)="onInVisible($event)">
        <div>OUR TECHNOLOGIES</div>
    </div>
    <div>
        <img class="tech-logo animated-logo-type1" src="assets/images/homepage/net_logo.png" style="top: 50%; left: 79%;" >
        <img class="tech-logo animated-logo-type2" src="assets/images/homepage/html_logo.png" style="top: 25%; left: 5%;" >
        <img class="tech-logo animated-logo-type3" src="assets/images/homepage/js_logo.png" style="top: 65%; left: 15%;" >
        <img class="tech-logo animated-logo-type4" src="assets/images/homepage/ios_logo.png" style="top: 10%; left: 25%;" >
        <img class="tech-logo animated-logo-type1" src="assets/images/homepage/salesforce_logo.png" style="top:65%; left: 28%;" >
        <img class="tech-logo animated-logo-type2" src="assets/images/homepage/android_logo.png" style="top:65%; left: 65%;" >
        <img class="tech-logo animated-logo-type3" src="assets/images/homepage/css_logo.png" style="top:28%; left: 70%;" >
    </div>

</section>

<section class="technologies-section">
    <div class="card" observeVisibility [debounceTime]=200 [threshold]=0.6 (visible)="onVisible($event)" (invisible)="onInVisible($event)">
        <div class="card-side front">
            <div class="front-content header-text-medium">WEB</div>
        </div>
        <div class="card-side back">
            <div class="card__image card__image--web"></div>
            <div class="card__content">
                <div class="card-header header-text-medium">WEB</div>
                <p class="card-content">
                    Make an impact with modern Web Development services designed to grow your business. 
                    We can turn your ideas into reality by building custom websites or web solutions from the ground up!
                </p>
            </div>
        </div>  
    </div>

    <div class="card" observeVisibility [debounceTime]=300 [threshold]=0.6 (visible)="onVisible($event)" (invisible)="onInVisible($event)">
        <div class="card-side front">
            <div class="front-content header-text-medium">SALESFORCE</div>
        </div>
        <div class="card-side back">
            <div class="card__image card__image--salesforce"></div>
            <div class="card__content">
                <div class="card-header header-text-medium">SALESFORCE</div>
                <p class="card-content">
                    Our Team of Certified Salesforce Experts can help you align on a vision, 
                    push the boundaries of latest & greatest technology in your implementation, 
                    and unlock more value from Salesforce! 
                </p>
            </div>
        </div>  
    </div>

    <div class="card" observeVisibility [debounceTime]=400 [threshold]=0.6 (visible)="onVisible($event)" (invisible)="onInVisible($event)">
        <div class="card-side front">
            <div class="front-content header-text-medium">MOBILE</div>
        </div>
        <div class="card-side back">
            <div class="card__image card__image--mobile"></div>
            <div class="card__content">
                <div class="card-header header-text-medium">MOBILE</div>
                <p class="card-content">
                    Reinforce your business with Mobile Solutions! 
                    We offer End-to-End Mobile App Development Services for iOS,
                    Android and Cross-platform! 
                </p>
            </div>
        </div>  
    </div>
</section>